" Make vim keys make more sense for modern computers
noremap j h
noremap k j
noremap l k
noremap ; l

" Set up vim-sneak plugin and also smartcase (If you type a search in all lowercase
" then it searches case-insensitively. If you use case at all, it matches case.)
set sneak
set ignorecase
set smartcase

" Since we remapped hjkl, move vim-sneak's 'search again' key over to the right one key also
nmap ' <Plug>(sneak-;) 

" For learning to use hjkl...BY FORCE.
no <down> <Nop>
no <left> <Nop>
no <right> <Nop>
no <up> <Nop>

ino <down> <Nop>
ino <left> <Nop>
ino <right> <Nop>
ino <up> <Nop>

" Make enter useful when not in insert, too
"nmap <S-Enter> i<CR><Esc>k
"nmap <CR> i<CR><Esc>